<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>
  Estimado cliente, gracias por registrarte en la web de Patagonia Brewing Co. Uy!
  <br/>
  Como forma de agradecimiento te hemos enviado este cupón de promoción equivalente a un 2x1 en nuestro local.
  <br/>
    Gracias por preferirnos!
</h3>
</body>
</html>