<div class="modal fade" id="user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
  <%= link_to '', '#', class: 'cancel-links pull-right', 'data-dismiss' => 'modal'%>
</div>
</div>
</div>
