<div class="container col-sm-offset-3 col-sm-6" style="text-align: center; color:white!important; ">
  <div class="row" style="text-align: center;height: 26vh ">
    <div class="col-sm-5 header-logo">
    </div>
  </div>
  <hr>
  <h2 class="big-message" style="margin-top: 6%">INGRESÁ TU FECHA </h2>
  <h2 class="big-message">DE NACIMIENTO </h2>
</br>
  <span class="medium-message">necesitamos confirmar tu edad</span>

  <div class="row" style="margin-top: 6%; color:white!important;">
    <form id="date-form">
        <input class="form-control option-date" id="day" placeholder="Día" required="required" style="color:white"/>
        <input class="form-control option-date" id="month" placeholder="Mes" required="required" style="color:white"/>
        <input class="form-control option-date" id="year" placeholder="Año" required="required" style="color:white"/>
      <button type="submit" class="hidden"></button>
    </form>
  </div>
  <div class="row" style="text-align: center; margin-top: 4%; margin-bottom: 7%">
    <a type="button" href='<%= new_user_path() %>' class="send-button" style="color:white">Enviar</a>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 footer-logo">
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
     $('body').css('background-color', 'black');
     $('body').css('background-image', 'none');

      $('.send-button').click(function(e){
          if ($('#date-form')[0].checkValidity()) {
              var day = $("#day").val();
              var month = $("#month").val();
              var year = $("#year").val();
              var age = 18;
              var mydate = new Date();
              mydate.setFullYear(year, month - 1, day);

              var currdate = new Date();
              currdate.setFullYear(currdate.getFullYear() - age);
              if ((currdate - mydate) < 0 ) {
                  swal({
                      title: "Error!",
                      text: "Lo sentimos, este sitio es para mayores de edad.",
                      type: "error",
                      confirmButtonText: "Ok"
                  });
                  return false;
              } else if (!((mydate.getFullYear() == year) && (mydate.getMonth() +1 == month) && (mydate.getDate() == day))){
                  swal({
                      title: "Error!",
                      text: "Lo sentimos, la fecha ingresada no es correcta.",
                      type: "error",
                      confirmButtonText: "Ok"
                  });
                  return false;
              }
              e.preventDefault();
              $.ajax({
                  url: '/users/set_date',
                  data: { year: year, month: month, day: day }
                  }).done(function(){
                  window.location.replace("<%= new_user_path %>");
              });
          } else {
              $('#date-form').find(':submit').click();
              return false
          }
      });
  });



</script>